<div *ngIf="stations$ | async as stationsEvent; else error">

    <div class="card shadow-lg">
        <div class="card-header d-flex flex-row justify-content-between align-items-center">
            <h1 class="display-4 card-title mb-0 col-10">{{ cardHeader}} ({{ stationsEvent.stations.length }})</h1>
            <div class="alert alert-danger" 
                *ngIf="errorMessage$ | async as errorMessage" 
                role="alert">{{ errorMessage }}</div>
        </div>

        <div class="card-body p-2">
            <div class="container-fluid px-0"> 
                <div class="row justify-content-between">
                    <div class="input-group input-group-sm col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Sort by</span>
                        </div>
                        <select class="custom-select" (change)="sortList($event.target.value)">
                            <option *ngFor="let sort of (stationSorts$ | async)" [value]="sort.value">{{ sort.name}}</option>
                        </select>
                    </div>

                    <div class="input-group input-group-sm  col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Filter by</span>
                        </div>
                        <select  class="custom-select" (change)="filterList($event.target.value)">
                            <option *ngFor="let filter of (stationFilters$ | async)" [value]="filter.value">{{ filter.name}}</option>
                        </select>
                        <input type="text" (input)="filterByName($event.target.value)" placeholder="Station name" class="form-control">
                    </div>
                    
                    <div class="btn-group btn-group-sm col-lg-2 col-md-2 col-sm-6 col-xs-6" 
                         role="group" aria-label="Log collapse" data-toggle="collapse" data-target="#logCollapse" aria-expanded="false" aria-controls="logCollapse">
                        <button type="button" class="btn btn-secondary">Change Log</button>
                    </div>

                    <div class="input-group input-group-sm d-flex justify-content-end col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Last update {{ stationsEvent.refreshDate }}</span>
                        </div>
                        <div class="input-group-append">
                            <button (click)='manualRefresh()' class='btn btn-success'>
                                <fa-icon [icon]="faSync"></fa-icon>
                            </button>
                        </div>
                    </div>

                </div>
                
                <div *ngIf='changeLog$ | async as cl'>
                    <div id="logCollapse" class="collapse my-2 overflow-auto" style="max-height: 150px; height: 150px;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item p-1 rounded mb-1" 
                                *ngFor="let value of cl | reverse" 
                                [ngStyle]="{'background-color': value.bg}">
                                {{ value.msg }}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid my-3 px-0">
        <div class="row justify-content-md-start">
            <vstation class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pb-3" *ngFor='let station of stationsEvent.stations' [station]="station"></vstation>
        </div>
    </div>

</div>

<ng-template #error>
    <div class="card shadow-lg">
    <div class="card-header d-flex flex-row justify-content-between align-items-center">
        <h2 class="display-4 card-title mb-0 col-10">{{ cardHeader}}</h2>
        <h5 class="card-subtitle col-2" *ngIf="errorMessage$ | async as errorMessage">{{ errorMessage }}</h5>
    </div>
    <div class="card-body text-center d-flex justify-content-center">
        <div class="spinner-grow text-success" role="status"></div>
    </div>
</div>
</ng-template>
