<div class="card border-0  w-100 h-100 shadow-lg">
    <div class="card-header py-2 justify-content-between align-items-center">
        <h5 class="m-0"> {{ station.name }} </h5>
        <small>{{ station.last_update }}</small>       
    </div>
      
    <div class="card-body">
        <div class="container-fluid p-0 m-0">
            <dl class="row justify-content-between mb-0">
                <dt class="col-sm-12 col-xs-12 col-md-12 col-lg-4  pr-0">Address</dt>
                <dd class="col-sm-12 col-xs-12 col-md-12 col-lg-8 text-right">{{ station.address }} - {{ station.commune }}</dd>
            
                <dt class="col-sm-12 col-lg-5 pr-0">Coordinates</dt>
                <dd class="col-sm-12 col-lg-7 text-right">
                    [{{ station.lat | number:'1.2-2'}}, {{ station.lng | number:'1.2-2'}}]
                </dd>
            
                <dt class="col-sm-10">Avail. bike stands</dt>
                <dd class="col-sm-2 text-right">{{ station.available_bike_stands }}</dd>
            
                <dt class="col-sm-10">Avail. bike</dt>
                <dd class="col-sm-2 text-right">{{ station.available_bikes }}</dd>
            
                <dt class="col-sm-10">Total bike stands</dt>
                <dd class="col-sm-2 text-right">{{ station.bike_stands }}</dd>
            </dl>
        </div>
    </div>

    <div class="card-footer border-top border-dark bg-success text-center font-weight-bold" [ngClass]="station.decoration">
        {{ station.status | uppercase }}
    </div>

</div>
