
<div class="container-fluid px-0 mb-3" style="height: 1000px;">

    <div class="h-100">
        <div id="map" class="position-relative h-100 w-100 rounded border border-secondary"></div>
    </div>

</div>